@import url('https://fonts.googleapis.com/css?family=Roboto');

.PongHomeMenu {
  height: 100%;
  background-color: #4285F4;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.PongHomeMenu-logo {
  height: 50%;
}
