.PongSettingsEditor-title {
  font-size: 40px;
  margin: 15px auto;
}

.PongSettingsEditor-header-table {
  margin: 15px auto;
}

.PongSettingsEditor-settings-table {
  margin: 15px auto;
  text-align: left;
}

.PongSettingsEditor-column-title td {
  font-weight: bolder;
}

.PongSettingsEditor td  {
  height: 45px;
}
